/*comments--- box sizing*/

html {
    box-sizing: border-box;
}

*,
*: before,
*: after {
    box-sizing: inherit;
}


/*header*/

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}

.nav li {
    float: none;
    border-right: 1px solid #dedede;
    font-size: 18px;
}

.nav li:last-child {
    border-right: 0 none;
}

.nav a {
    padding: 0px 10px;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #5adae2;
}

.active a {
    color: #5adea2;
}


/*footer*/

.social {
    text-align: center;
}

.social-list {
    background-color: #373737;
}

.footer-bottom a {
    color: #fff;
}

.footer-bottom a:hover {
    color: #5adae2;
}

.footer a:hover,
.footer i:hover {
    color: #5adae2;
}


/*main contents*/

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
}

.page-header p {
    padding-left: 15px;
}


/*homepage*/

.page-header .home {
    margin-bottom: 0;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
}

.page-header .btn {
    margin-top: 40px;
    margin-left: 20px;
}

.message .btn {
    margin-left: 20px;
}

.btn > i {
    color: #fff;
}


/*about page*/

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}

.team-member a {
    color: #1e1f1f;
}

.team-member a:hover {
    color: #5adae2;
}

.team-member a:hover {
    color: #5adae2;
    background-color: #1e1f1f;
}


/*portfolio*/

.portfolio-item {
    margin-bottom: 10px;
    position: relative;
}

.portfolio-title {
    color: white;
    text-align: center;
    height: 308px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    /* opacity is zero. Nothing displays */
    padding: 10px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}

.portfolio-title:hover {
    background-color: #5adae2;
    opacity: .9;
}


/*blog*/

.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}

.info a:hover {
    color: #5adae2;
}

.info i:hover {
    color: #5adae2;
}


/*contact*/

.table,
.form p,
.map h2 {
    margin-left: 15px;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    width: 100%;
}

.one-whole {
    width: 960px;
}

.three-quaters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.one-quarter {
    width: 220px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

body {
    color: #a59e9b;
    background-color: #dcdfe1;
}

h1 {
    color: #55677b;
}

h2 {
    color: #333;
}

h3 {
    color: #333;
}

h4 {
    color: #333;
}

a {
    color: #fff;
}

.header {
    background-color: #55677b;
}

.main {
    background-color: #dcdfe1;
}

footer {
    background-color: #55677b;
}

footer h4 {
    color: #fff;
}

.footer-bottom {
    background-color: #190800;
    color: #fff;
}

.page-header {
    background-color: #cfe;
    color: #fff;
}

.message {
    background-color: #0fc;
}

.message h3 {
    color: #fff;
}

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox li {
    color: #190800;
}

.contentbox-beige {
    background-color: #ffffe6;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise {
    background-color: #cfe;
    padding: 10px;
    margin-bottom: 70px;
    min-height: 10px;
}

.content>img {
    float: left;
    margin-right: 15px;
}

.content>img {
    float: left;
    margin-right: 15px;
}

.tile {
    background-color: #cfe;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0px;
}

.blog-tease {
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}


/*Global Rules*/

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    font-weight: 200;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*Classes and compound selectors*/

.brand {
    font-size: 22px;
}

.nav li {
    font-size: 18px;
}

.main-content-top i {
    color: #5adae2;
    vertical-align: -10px;
    /* center icon to heading */
}

.page-header h1 {
    font-weight: bold;
    text-align: center;
}

.page-header p {
    font-size: 26px;
}

.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header.home a {
    padding-left: 35px;
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
}

.contentbox i {
    color: #5adae2;
}

.footer p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0;
}

.footer ul {
    font-size: 16px;
    font-weight: 200;
}

.social-list {
    text-align: center;
}

.social-list li {
    display: inline-block;
}

.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}

.tile p {
    margin: 0;
}

.tile i {
    font-size: 108px;
}

.team-member h1 {
    Text-align: center;
}

.team-member ul {
    text-align: right;
}

.team-member li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.team-member a {
    color: #1e1f1f;
}

.team-member i {
    background-color: #edecea;
    Color: #1e1f1f;
    font-size: 16px;
    padding: 3px;
    margin: 0;
    width: 22px;
    display: inline-block;
    text-align: center;
}

.address,
.address a {
    color: #fff;
}

.address li {
    padding-bottom: 5px;
}

.info li {
    font-size: 14px;
    background-color: #edecea;
    padding: 5px 8px;
    margin-top: 5px;
    margin-right: 5px;
}

.info i {
    color: #1e1f1f;
    display: inline-block;
    width: 22px;
    text-align: center;
}

.sidebar p {
    font-size: 13px;
    line-height: 18px;
    color: #1e1f1f;
    padding-bottom: 10px;
}

.sidebar a {
    color: #1e1f1f;
}

.sidebar li {
    font-size: 14px;
}

.sidebar {
    padding: 30px;
}


/* button */

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #0B676B;
    /* teal */
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #588b8d;
}

.page-header .btn {
    margin-top: 40px;
    margin-left: 20px;
}

/*style contact form*/

input[type="text"], input[type="email"], input[type="tel"] {
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 10px;
    margin-bottom: 25px;
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    height: 8px;
    font-size: 14px;
    color: #373737;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.contact-form input {
    width: 445px;
}

.contact-form textarea {
    width: 445px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    color: #373737;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input [type="submit"].btn {
    border: 0;
    padding-top: 0;
    padding-right: 22px;
    padding-bottom: 0;
    padding-left: 22px;
    margin-top: 10px;
    color: #fff;
    height: 50px;
    width: 150px;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;   
}

.form p {
    margin-bottom: 20px;
}

.sidebar-form input[type="text"]{
    height: 30px;
    width: 125px;
    padding: 0;
    margin-bottom: 2px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.sidebar-form .btn {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;
}

/*table styling*/ 

.contact-table {
    width: 99%;
    margin-bottom: 50px;
}

.contact-table caption {
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 10px;
}

.contact-table th {
    text-align: left;
    background-color: white;
    color: #373737;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.conatct-table td {
    color: #373737;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contact-table tr:nth-child(odd) {
    background-color: #F9F8F8;
}

.contact-table tr:hover {
    background-color: #999;
    cursor: crosshair;
}