html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 960px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.row {
    overflow: hidden;
    width: 100%;
}

.title {
    color: white;
}

h1 {
    font-family: 'Swanky and Moo Moo', cursive;
    padding: 18px;
    color: white;
    background-color: black;
}

h2 {
    margin-top: 40px;
    font-size: 22px;
}

h3 {
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 10px;
    padding-top: 0;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

/*hover state*/

a:hover {
    color: #b45737; 
}

a.privacy:hover {
    color: white;
    text-decoration: underline;
}

a.btn:hover {
    color:black;
    background-color: white;
}

.privacy {
    color: white;
}


a.practical:hover {
    color: black;
    font-weight: bold;
}

nav li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
    padding: 5px;
    font-size: 12px;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.pull-right {
    float: right;
}

.pull-left {
    text-align: left;
}

.column {
    float: left;
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    width: 100%;
}

.one-whole {
    width: 960px;
}

.one-half {
    width: 420px;
}

.one-third {
    width: 300px;
    /*float: right;*/
}

.two-thirds {
    width: 620px;
}

.one-fourth {
    width: 25%;
}

.three-fourths {
    width: 720px;
}

.align-right {
    text-align: right;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

.page-middle {
    background-color: #f1f1f1;
    padding-bottom: 30px;
}

.pad-both {
    padding:0 20px 0 30px;
}

.pad-right{
    padding-right:0 30px 15px 30px;
}

.message {
    padding-left: 20px;
}

.cases {
    text-align: left;
}

.servicetext {
    text-align: left;
}

.insidebox {
    padding-left: 25px;
    
}

.realestate {
    background-image: url("../images/marker-3-1.png");
    background-repeat: no-repeat;
    background-position: 5px 23px;
}

.cart {
   background-image: url("../images/marker-3-2.png");
    background-repeat: no-repeat;
       background-position: 5px 23px;

}

.colorbars {
    background-image: url("../images/marker-3-3.png");
    background-repeat: no-repeat;  
       background-position: 5px 23px;

}

.greenshirts {
      background-image: url("../images/marker-3-4.png");
    background-repeat: no-repeat; 
       background-position: 5px 23px;

}

.star {
   background-image: url("../images/marker-3-5.png");
   background-repeat: no-repeat; 
   background-position: 5px 23px;
}


a:link {
    text-decoration: none;
}

a {
    color: black;
}

footer {
    color: white;
    background-color: black;
    height: 120px;
    margin-top: 20px;
    font-style: italic;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: lightgrey;
    color: black;
    padding: 5px 5px;
    border-radius: 14px;
    border: 1px solid grey;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*position absolute to parent element*/
.textposition {
    position: relative;
}

.captext {
    position: absolute;
    left:55px;
    top:150px;
    color: white;
    text-align: left;
    font-size: 36px;
}

em {
    font-family: 'Swanky and Moo Moo', cursive;
    color: firebrick;
}

span {
    font-family: Helvetica;
}

.date {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px;
    font-style: italic;
}

.boxinfo {
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}

.titleposition {
    margin: -10px;
}

.services {
   margin-bottom: 25px;
}

.footer-left {
    padding-left: 10px;
    padding-top: 10px;
}

.footer-right {
    padding-right: 10px;
    padding-top: 10px;
}


